*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $turquoise-medium;
  color: $white;
}

.app {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: calc(100vh - 5vw);
  margin: 2.5vw auto;
  // position: relative;
}

svg {
  position: absolute;
  height: 0;
  width: 0;
  overflow: none;
  left: -100%;
}
