// font-family: 'Biryani', sans-serif;
// font-family: 'Montserrat', sans-serif;

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: $black;
}

.heading-big {
  font-size: calc(#{$default-font-size} * 1.75);
  @include respond(tab-port) {
    font-size: calc(#{$default-font-size} * 1.5);
  }
  // @include respond(phone-land-small) {
  //   font-size: calc(#{$default-font-size} * 1.25);
  // }
}

.heading-medium {
  font-size: calc(#{$default-font-size} * 1.25);
}

.heading-small {
  font-size: $default-font-size;
}
