// Colors

$turquoise-dark: #45858c;
$turquoise-medium: #4e9da6;
$turquoise-light: #95bbbf;
$gray-light: #b7b9b8;
$gray-dark: #454545;

$black: #040404;
$white: #fafafa;

// Font-size
$default-font-size: 1.6rem;

// Transition
$anim: all 0.2s ease-in-out;
