.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(80vh - (6rem + 2px));

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__block {
    @include respond(tab-port) {
      min-height: 30vh;
    }
    @include respond(phone-port) {
      min-height: 30vh;
    }
    &--1 {
      min-height: 50vh;
    }
    &--2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 15vh;
    }
  }

  &__description {
    padding-right: calc(#{$default-font-size} * 2);
    padding-bottom: 1rem;

    &--heading {
      text-align: center;
      margin-bottom: 1rem;
    }
    &--paragraph {
      font-size: calc(#{$default-font-size} * 1.25);
      @include respond(phone-port) {
        font-size: calc(#{$default-font-size} * 1.5);
      }
    }
  }

  &__img {
    filter: grayscale(1);
    height: 65vh;
    transition: $anim;
    // filter: url(#monochrome);
    // @include respond(tab-land) {
    //   height: 70vh;
    // }
    // @include respond(tab-land-small) {
    //   height: 200vh;
    // }
    &:hover {
      filter: none;
    }
    @include respond(tab-port) {
      position: relative;
      height: 40vh;
    }
    @include respond(phone-port) {
      position: relative;
      height: auto;
      width: 90vw;
    }
    // @include respond(phone-land) {
    //   height: 150vh;
    // }
    // @include respond(phone-land-small) {
    //   height: 250vh;
    // }

    &-wrapper {
      float: right;
      height: 65vh;
      padding-left: 3rem;
      padding-bottom: 3rem;
      // @include respond(tab-land) {
      //   overflow: hidden;
      //   width: 1600px;
      //   max-width: 600px;
      //   text-indent: -50%;
      // }
      // @include respond(tab-land-small) {
      //   width: 1600px;
      //   max-width: 400px;
      //   text-indent: -90%;
      // }
      @include respond(tab-port) {
        overflow: hidden;
        height: 40vh;
      }
      @include respond(phone-port) {
        height: auto;
        width: 90vw;
        padding-left: 0;
      }
      // @include respond(phone-land) {
      //   width: 1100px;
      //   max-width: 240px;
      //   text-indent: -80%;
      // }
      // @include respond(phone-land-small) {
      //   height: 220vh;
      //   max-height: none;
      //   width: 1300px;
      //   max-width: 300px;
      //   text-indent: -130%;
      // }
      // @include respond(phone-port) {
      //   overflow: hidden;
      //   max-width: 85vw;
      //   height: 100rem;
      //   max-height: 40vh;
      //   text-indent: -10%;
      // }
    }
  }
}
