.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  min-height: calc(80vh - (6rem + 2px));

  &__heading {
    text-align: center;
    &--sub {
      font-size: calc(#{$default-font-size} * 1.25);
    }
  }

  &__it {
    display: flex;
    width: 90%;
    justify-content: space-around;

    @include respond(tab-land-small) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include respond(tab-port) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &--channel {
      display: flex;
      font-weight: 700;
      width: 25vw;
      justify-content: center;
      align-items: center;

      @include respond(tab-land-small) {
        width: 35vw;
        flex-shrink: 0;
      }
      @include respond(tab-port) {
        width: 60vw;
        flex-shrink: 0;
      }
      @include respond(tab-port-small) {
        width: 35vw;
      }
      @include respond(phone-land) {
        width: 60vw;
      }
      @include respond(phone-port) {
        width: 60vw;
      }
    }

    &--link {
      padding: 1rem 2rem;
      margin: 0;
      border-radius: 1.2rem;
      font-size: $default-font-size;
      text-decoration: none;
    }

    &--zl {
      margin-right: 2rem;
    }

    &--mail {
      margin-right: 1rem;
    }
  }

  &__availability {
    font-size: $default-font-size;
    color: $turquoise-dark;
    margin: 3rem auto 8rem;
    text-align: center;
    @include respond(tab-land-small) {
      margin: 3rem 6rem 8rem;
    }
    @include respond(tab-port-small) {
      margin: 3rem 6rem 4rem;
    }
  }

  &__address {
    display: flex;
    width: 90%;
    justify-content: space-around;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
    @include respond(phone-land-small) {
      flex-direction: column;
      align-items: center;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      &:first-child {
        margin-right: 5rem;
      }
      @include respond(tab-port) {
        &:first-child {
          margin: 0 0 5vh;
        }
      }
      @include respond(phone-land-small) {
        &:first-child {
          margin: 0 0 10vh;
        }
      }
      @include respond(phone-port) {
        flex-direction: column;
      }
    }

    &--details {
      color: $gray-dark;
      font-size: $default-font-size;
    }

    &--cabinet {
      @include respond(tab-port) {
        width: 20vw;
        text-align: right;
      }
      @include respond(phone-land-small) {
        width: 20vw;
        text-align: right;
      }
      @include respond(phone-port) {
        width: 80vw;
        text-align: center;
      }
    }
  }

  &__map {
    margin-left: 5rem;
    width: 40rem;
    height: 40rem;
    border-radius: 3rem;

    @include respond(tab-land) {
      margin-left: 3rem;
    }
    @include respond(tab-port) {
      width: 60rem;
      height: 30rem;
    }
    @include respond(phone-port) {
      height: 85vw;
      width: 85vw;
      margin-left: 0;
      margin-top: 3rem;
    }

    &--marker {
      background-color: $turquoise-dark;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 4px solid $turquoise-light;
    }
  }
}

.mapboxgl-map {
  @include respond(tab-land) {
    width: 30rem;
    height: 30rem;
  }
}
