.home {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__block {
    display: flex;
    min-height: 23.333333vh;
    align-items: center;
    &--2 {
      flex-direction: row-reverse;
    }
  }

  &__intro {
    flex-grow: 1;
    &--paragraph {
      font-size: $default-font-size;
    }
  }

  &__img {
    flex-basis: 23.3333vh;
    height: 23.333333vh;
    filter: url(#monochrome);
    &--1 {
      padding-left: calc(#{$default-font-size} * 2);
    }
    &--2 {
      padding-right: calc(#{$default-font-size} * 2);
    }
    &--3 {
      padding-left: calc(#{$default-font-size} * 2);
    }
  }
}
