.single-offer {
  width: 90vw;
  height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
    height: 55vh;
    color: $gray-dark;
    text-align: center;
    @include bcg-format;
    border-radius: 5rem;
    box-shadow: 0 0 3rem $gray-light;

    &--terapia_indywidualna {
      @include bcg-offer(url(../images/beach-925740_1280.jpg));
    }

    &--warsztaty_rozwojowe {
      @include bcg-offer(
        url(../images/adult-back-view-celebration-942419-b&w.jpg)
      );
    }

    &--edukacja_seksualna {
      @include bcg-offer(url(../images/glasses-3173397_1280.jpg));
    }
    &--trening_relaksacyjny {
      @include bcg-offer(
        url(../images/backlit-meditating-meditation-1051838-b&w.jpg)
      );
    }
  }

  &__heading {
    padding: 3rem 0 0;
  }

  &__details {
    font-size: $default-font-size;
    width: 90%;
    margin: 0 auto;

    &--desc2 {
      list-style-position: inside;
      margin: 0 auto;
      width: 70%;
      text-align: left;
      column-count: 2;
    }

    &--price {
      margin-top: 3rem;
      font-weight: 700;
    }
  }

  &__return {
    text-decoration: none;
  }
}
