.offer {
  &__contract {
    &-popup {
      position: fixed;
      @include center-absolute-el;
      backdrop-filter: blur(10px);
      background-color: rgba($gray-dark, 0.8);
      // height: 0vh;
      width: 100%;
      z-index: 3000;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;
      height: 100vh;
      &--content {
        border-radius: 2rem;
        width: 90vw;
        height: 80vh;
        margin: 10vh 5vw;
        overflow: hidden;
        position: relative;
      }
    }
    &--handshake {
      position: absolute;
      top: 0;
      left: 0;
      transform: translatex(-35%);
      filter: url(#monochrome);
      height: 100%;
      width: 100%;
      @include respond(tab-port) {
        height: 70%;
        transform: translate(0, -25%);
      }
      @include respond(phone-port) {
        height: 45%;
        transform: translate(0, -10%);
      }
    }
    &--wrapper {
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      padding: 1rem 3rem;
      width: 65vw;
      height: 100%;
      overflow-y: scroll;
      @include respond(tab-port) {
        top: unset;
        right: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 55vh;
      }
    }

    &--list {
      text-align: left;
      list-style-position: inside;
    }
    &--point {
      padding: 1rem 0;
      font-size: calc(#{$default-font-size} * 1.25);
    }
  }
}

.popup-enter {
  opacity: 0;
  visibility: hidden;
}
.popup-enter-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms, visibility 300ms;
}

.popup-exit {
  opacity: 1;
}

.popup-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms, visibility 300ms;
}
