.header {
  flex-basis: 10vh;
  //   background-color: $gray-light;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
  }

  &__logo {
    height: inherit;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }

  &__title {
    text-decoration: none;
    color: $black;
    flex-basis: 30vw;
    min-width: 30rem;
    font-family: "Biryani", sans-serif;
    font-weight: 700;
    font-size: calc(#{$default-font-size} * 1.5);
    padding-left: 5rem;
    transition: $anim;
    @include respond(tab-land) {
      flex-basis: 40vw;
      font-size: calc(#{$default-font-size} * 1.2);
      line-height: 1.4;
    }
    @include respond(tab-land-small) {
      font-size: calc(#{$default-font-size} * 1.1);
    }
    @include respond(tab-port) {
      flex-basis: 40vw;
      font-size: calc(#{$default-font-size} * 1.75);
    }
    @include respond(tab-port-small) {
      flex-basis: 35vw;
      font-size: calc(#{$default-font-size} * 1.4);
      line-height: 1.2;
    }
    @include respond(phone-land) {
      font-size: calc(#{$default-font-size} * 1.15);
    }
    @include respond(phone-land-small) {
      flex-basis: 40vw;
    }
    @include respond(phone-port) {
      flex-basis: 65vw;
    }

    &--name {
      text-transform: uppercase;
    }

    &:hover {
      color: $turquoise-dark;
    }
  }
}
