.menu-wrapper {
  flex-grow: 1;
}
.menu {
  flex-grow: 1;
  @include respond(phone-port) {
    display: none;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }

  &__item {
    flex-basis: content;
    text-align: center;
    padding: 2rem;
    font-size: $default-font-size;
    @include respond(tab-port) {
      font-size: calc(#{$default-font-size} * 1.5);
    }
    @include respond(tab-port-small) {
      font-size: calc(#{$default-font-size} * 1.2);
      // padding: 1.5rem;
    }
    @include respond(phone-land) {
      padding: 1.5rem;
    }
    @include respond(phone-land-small) {
      font-size: calc(#{$default-font-size} * 1.1);
    }

    &--link {
      display: block;
      text-decoration: none;
      color: $gray-dark;
      transition: $anim;
      position: relative;
      //   border-bottom: 2px solid transparent;

      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: -0.2rem;
        width: 0;
        height: 0.2rem;
        margin-top: 0.2rem;
        transition: $anim;
        opacity: 0;
        background-color: $turquoise-dark;
      }

      &::before {
        left: calc(50%);
      }

      &::after {
        right: calc(50%);
      }

      &:hover {
        // border-bottom: 2px solid $turquoise-dark;
        color: $turquoise-dark;
        transform: scale(1.2);
        &::before,
        &::after {
          width: 50%;
          opacity: 1;
        }
      }

      &.active {
        transform: scale(1.2);
        color: $turquoise-medium;
        &:hover {
          &::before,
          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}
.side-menu {
  position: fixed;
  display: none;
  top: 13.5vh;
  right: 0;
  transform: translateX(50vw);
  z-index: 3000;
  padding: 0 2rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background-color: $white;
  transition: transform 0.4s ease-out;
  @include respond(phone-port) {
    display: block;
    &--active {
      transform: translateX(0);
    }
  }
  &__list {
    list-style: none;
    & .menu__item {
      &:not(:first-child) {
        border-top: 1px solid $turquoise-medium;
      }
    }
  }
}
